node_modules
.vscode/sftp.json
out/linecounter.json
out/linecounter.txt
build
ui/build/asset-manifest.json
ui/build/index.html
ui/.env
ui/build/index.html
ui/build/service-worker.js
ui/build/asset-manifest.json
ui/build/*
scripts